body {
	padding: 0;
	margin: 0;
	position: relative;
}

#mapid { 
	height: 180px;
	position: relative;
}

.title{
	position: absolute;
	z-index: 1000;
	font-weight: bold;
    font-size: 48px;
    top: 100px;
    left: 40px;
    color: #232020;
}

.background-find {
	position: absolute;
	z-index: 1000;
	font-weight: bold;
    top: 170px;
    height: 50px;
    border-radius: 30px;
    width: 400px;
    left: 40px;
    background-color: #cecece;
    display: flex;
}

.background-find .find{
	flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.background-find input{
	width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
}

.background-find input:focus {
	outline: none;
}

.case-list-container {
    position: absolute;
    z-index: 1001;
    top: 240px;
    left: 50px;
}

.case-list {
    background-color: #dededec7;
    border-radius: 30px;
    width: 380px;
    padding: 10px;
}

.type-case {
    font-size: 24px;
    padding: 10px;
}

.country_list {
    position: absolute;
    z-index: 1000;
    top: 240px;
    left: 40px;
    border-radius: 30px;
    width: 500px;
    font-size: 16px;
    bottom: 30px;
}

.country-container {
    margin: 20px;
    padding: 20px;
    width: 420px;
    background-color: green;
    border-radius: 30px;
}

.search-icon {
    color:#e3e3e3
}